{sub_dirs,["rel"]}.

{cover_enabled, true}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps, [{edown, ".*", {git, "git://github.com/esl/edown", "master"}},
        {setup, ".*", {git, "git://github.com/esl/setup", "master"}}
       ]}.

{edoc_opts, [{doclet, edown_doclet}]}.
%{escript_name, setup_gen}.


